// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .set-bg {
    background-image: url('/assets/images/dashboard-banner/w-1920.jpg');
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.set-bg {
  background-image: url('/assets/images/dashboard-banner/w-1920.jpg');
}

.set-bg .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
