<section class="hero-section set-bg">
  <div class="overlay">
    <div class="container h-100">
      <div class="hero-content text-white">
        <div class="row">
          <div class="col-lg-6 pr-0">
            <h2>{{'TITLE_FLIGHT_SEARCHER' | translate}}</h2>
            <p>{{'MSG_FLIGHT_SEARCHER_SOLOGAN' | translate}}</p>
            <a href="javascript:void(0);" class="site-btn">{{'TITLE_START_SEARCHING' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
