/.vs
/ClientShared/obj
/ClientShared/bin
/main-service/MainBusiness/obj
/main-service/MainBusiness/bin
/main-service/MainDb/obj
/main-service/MainDb/bin
/main-service/MainMicroService/obj
/main-service/MainMicroService/bin
/main-service/MainMicroService/Main.csproj.user
/main-service/MainMicroService/MainMicroService.csproj.user
/main-service/MainModel/obj
/main-service/MainModel/bin
/main-service/MainShared/MainShared.csproj.user
/main-service/MainShared/bin
/main-service/MainShared/obj
/main-service/MainBusiness/AppBusiness.csproj.user
/ServiceShared/obj
/ServiceShared/bin
/main-service/MainMicroService/logs
